[Unit]
Description=MK3 Boot Splash
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/pi/mixxx-mk3/pi-setup/mk3-bootsplash.sh
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
