[Unit]
Description=PipeWire Audio Server
After=local-fs.target

[Service]
Type=simple
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=-/bin/mkdir -p /run/user/1000
ExecStartPre=-/bin/chown pi:pi /run/user/1000
ExecStart=/usr/bin/pipewire
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
